@charset "utf-8";

/* ================= main ================= */
/* 공통 */
.title-box {
    position: relative;
}
.title-box .title {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-size: 60px;
    font-weight: 600;
    color: #413291;
}

.title-box .title::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -23px;

    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #59beca;
}

.title-box .more {
    position: absolute;
    top: 20px;
    right: 0;

    font-size: 17px;
    font-weight: 500;
    color: #6352bf;
}

#wrap-content#wrap-content.main {
    padding: 0;
}


/* ------- slide-section ------- */
#wrap-content.main .slide-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: skyblue;
}

#wrap-content.main .slide-section .sns-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    position: absolute;
    z-index: 10;
    width: 80px;
    height: 100%;
    padding: 80px 0 55px;

    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

#wrap-content.main .slide-section .sns-wrap li {
    width: 15px;
    text-align: center;
}

#wrap-content.main .slide-section .sns-wrap li+li {
    margin-top: 50px;
}

#wrap-content.main .movie-container,
#wrap-content.main .movie-container .slider,
#wrap-content.main .movie-container .img {
    width: 100%;
    height: 100%;
}

#wrap-content.main .movie-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wrap-content.main .movie-container .slider > div {
    position: relative;
    width: 100%;
    height: 100%;
}

#wrap-content.main .movie-container .movie-info-wrap {
    position: absolute;
    bottom: 173px;
    left: 208px;
}

#wrap-content.main .movie-container .title-box {
    display: flex;
    align-items: center;
    color: #fff;
}

#wrap-content.main .movie-container .title-box .age {
    padding: 0 15px;
    line-height: 36px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #fff;
}

#wrap-content.main .movie-container .title-box h1 {
    margin: 0 26px 0 29px;
    font-size: 60px;
}

#wrap-content.main .movie-container .title-box h3 {
    font-size: 27px;
}

#wrap-content.main .movie-container .tag-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 28px 0;
}

#wrap-content.main .movie-container .tag-list li {
    min-width: 80px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

#wrap-content.main .movie-container .tag-list li::before {
    display: inline-block;
    content: '#';
}

#wrap-content.main .movie-container .tag-list li + li {
    margin-left: 10px;
}

#wrap-content.main .movie-container .summary {
    line-height: 30px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

#wrap-content.main .movie-container .link-box {
    display: flex;
    align-items: center;
    margin-top: 68px;
}

#wrap-content.main .movie-container .link-box a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

#wrap-content.main .movie-container .link-box a:first-child {
    border: 1px solid #fff;
}

#wrap-content.main .movie-container .link-box a:last-child {
    margin-left: 15px;
    background: linear-gradient(to right, rgba(68, 30, 178, 0.8) , rgba(89, 190, 201, 0.8) 137%);
}

/* ------- box-office-section ------- */
#wrap-content.main .box-office-section {
    padding: 133px 0 78px;
}

#wrap-content.main .box-office-section .title-article .inner {
    position: relative;
}

#wrap-content.main .box-office-section .time {
    font-size: 14px;
    font-weight: 500;
}

#wrap-content.main .box-office-section .title-box {
    display: flex;
    align-items: flex-end;
    margin: 28px 0;
}

#wrap-content.main .box-office-section .title-box h1 {
    margin: 0 127px 0 0;
}

#wrap-content.main .box-office-section .title-box p {
    line-height: 30px;
    font-size: 16px;
    color: #c6c6c6;
}

#wrap-content.main .box-office-section .title-box b {   
    color: #ededed;
}


#wrap-content.main .box-office-section .movie-slide {
    height: 710px;
    margin: 52px 0 64px;
}

#wrap-content.main .box-office-section .movie-list-slide {
    padding-left: 317px;
}

/* ------- curation-section ------- */
#wrap-content.main .curation-section {
    padding: 104px 0 152px;
}