@charset "utf-8";

/* ================= theater ================= */
.theater {
    overflow: hidden;
}

.theater h1 {
    margin-bottom: 87px;
}

/* open-wrap */
.theater .open-wrap .title {
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
    color: #c6c6c6;
}

.theater .open-wrap .title h2 {
    margin-right: 22px;
    font-size: 30px;
    color: #6150c1;
}

.theater .open-tab-wrap {
    display: flex;
    align-items: center;
}

.theater .open-content {
    flex: 0 0 auto;
    position: relative;
    width: 645px;
    height: 310px;
}

.theater .open-content .img {
    width: 100%;
    height: 100%;
}

.theater .open-content .text-wrap {
    position: absolute;
    top: 110px;
    left: 81px;
}

.theater .open-content .text-wrap p {
    margin-bottom: 37px;
    font-size: 24px;
}

.theater .open-content .text-wrap b {
    line-height: 36px;
    font-size: 27px;
    font-weight: 700;
}

.theater .open-content .text-wrap span {
    font-size: 20px;
    color: #fff;
}

.theater .open-content a {
    position: absolute;
    bottom: 35px;
    right: 40px;

    font-size: 17px;
    font-weight: 500;
}

.theater .open-list {
    width: 100%;
}

.theater .open-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.4;
    padding: 0 30px;
    border: 1px solid transparent;
    cursor: pointer;

    transition: .4s ease;
}

.theater .open-list li + li {
    margin-top: 54px;
}

.theater .open-list li.active + li {
    margin-top: 34px;
}

.theater .open-list li.active {
    opacity: 1;
    padding: 20px 30px;
    margin-bottom: 34px;
    border-color: #413291;
    background: #161616;
    transform: scale(1.03) translateX(-11px);
}

.theater .open-list li:last-child.active {
    margin: 34px 0 0;
}

.theater .open-list p {
    font-size: 18px;
}

.theater .open-list .open {
    font-weight: 600;    
    color: #4899a2;
}

.theater .open-list .open.new {
    color: #6554c2;
}

.theater .open-list .date {
    font-size: 14px;
    color: #9d9d9d;
}

/* thearter-list-wrap */
.theater .thearter-list-wrap {
    /* margin: 64px 0 181px; */
}
.theater .thearter-list-wrap .my-list {
    display: flex;
    align-items: center;
    position: relative;
    margin: 90px 0 0;
    padding-bottom: 43px;
}

.theater .thearter-list-wrap .my-list::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(68, 30, 178, 0.8) , rgba(89, 190, 201, 0.8) 137%);
}

.theater .thearter-list-wrap .my-list p {
    margin-right: 40px;
}

.theater .thearter-list-wrap .my-list b {
    color: #f8f8f8;
}

.theater .thearter-list-wrap .my-list ul {
    display: flex;
    align-items: center;
}

.theater .thearter-list-wrap .my-list li {
    min-width: 95px;
    padding: 0 21px;
    border-radius: 18px;
    border: 1px solid #484848;
    text-align: center;
    line-height: 37px;
    font-size: 14px;
    font-weight: 600;
    color: #bbb;
    cursor: pointer;
}

.theater .thearter-list-wrap .my-list li.active {
    border-color: #413291;
    background: #413291;
}

.theater .thearter-list-wrap .my-list li + li {
    margin-left: 12px;
}

.theater .thearter-list-wrap .thearter-list {
    display: flex;
}

.theater .thearter-list-wrap .thearter-list .big-list {
    flex: 0 0 auto;
    width: 235px;
    padding: 20px 0;
    background: #161616;
}

.theater .thearter-list-wrap .thearter-list .big-list li {
    padding: 17px 0 17px 54px;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 500;
    color: #f8f8f8;
    cursor: pointer;
}

.theater .thearter-list-wrap .thearter-list .big-list li.active {
    border: 1px solid #6c59cf;
    background: #413291;
}

.theater .thearter-list-wrap .thearter-list .area-list-wrap {
    display: flex;
    padding: 15px 0;
}

.theater .thearter-list-wrap .thearter-list .area-list-wrap ul {
    height: 100%;
    padding: 0 54px;
    border-right: 1px solid #2e2e2e;
}

.theater .thearter-list-wrap .thearter-list .area-list-wrap li {
    padding: 17px 0;
    border: 1px solid transparent;
    font-size: 15px;
    color: #aaaaaa;
    cursor: pointer;
}

/* banner-wrap */
.theater .banner-wrap {
    display: flex;
    align-items: center;
    position: relative;
    height: 90px;
    margin: 64px 0 181px;
}

.theater .banner-wrap::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -320px;
    width: calc(100% + 640px);
    height: 100%;
    background: #161616;
}

.theater .banner-wrap > * {
    position: relative;
    z-index: 1;
}

.theater .banner-wrap h3 {
    font-size: 25px;
    color: #6c59cf;
}

.theater .banner-wrap h3::after { 
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 39px;
    margin: 0 50px 0 41px;
    background: rgba(255, 255, 255, 0.2);
}

.theater .banner-wrap p {
    opacity: 0.6;
    font-size: 18px;
    color: #fff;
}

.theater .banner-wrap a {
    margin-left: auto;
    font-size: 17px;
    font-weight: 500;
}

/* event-section */
.theater .event-section h1 {
    margin: 0 85px 0 0;
}

.theater .event-section .title-article {
    display: flex;
    align-items: baseline;
    margin: 0 0 72px;
}

.theater .event-section .title-article ul {
    display: flex;
    align-items: center;
}

.theater .event-section .title-article li {
    font-size: 18px;
}

.theater .event-section .title-article li.active {
    font-weight: 700;
    color: #59beca;
}

.theater .event-section .title-article li + li {
    margin-left: 46px;
}

.theater .event-section .slide-article {
    margin-bottom: 200px;
}

.theater .event-section .event-slide .slide {
    width: 310px;
}

.theater .event-section .event-slide .img {
    height: 350px;
}

.theater .event-section .event-slide .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.theater .event-section .event-slide .text-wrap {
    margin: 30px 0 60px;
}

.theater .event-section .event-slide .text-wrap {
    padding: 0 6px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
}

.theater .event-section .event-slide .text-wrap p {
    color: #6c59cf;
}

.theater .event-section .event-slide .text-wrap h3 {
    margin-bottom: 20px;
    color: #ededed;
}

.theater .event-section .event-slide .text-wrap span {
    line-height: 1;
    font-size: 14px;
    color: #9d9d9d;
}

/* special-section */
.theater .special-section .inner {
    display: flex;
}

.theater .special-section .title-article {
    flex: 0 0 auto;
    margin-right: 315px;
}

.theater .special-section h1 {
    margin-bottom: 58px;
    text-align: left;
}

.theater .special-section .title-article p {
    line-height: 30px;
    font-size: 16px;
    color: #c6c6c6;
}

.theater .special-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.theater .special-section li {
    position: relative;
    margin-bottom: 120px;
}

.theater .special-section li:nth-last-child(-n + 2) {
    margin: 0;
}

.theater .special-section h2 {
    position: absolute;
    top: -25px;
    transform-origin: 0;
    transform: rotate(270deg) translate(-100%, -100%);
    
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 37px;
    font-weight: 600;
    color: #c6c6c6;
}

.theater .special-section .text-wrap {
    margin-top: 30px;
    line-height: 30px;
    font-size: 16px;
}

.theater .special-section .text-wrap h4 {
    font-weight: 600;
    color: #6c59cf;
}

.theater .special-section .text-wrap p {
    font-weight: 500;
    color: #d9d9d9;
}

/* community-section */
.theater .community-section {
    margin: 80px 0 282px;
}

.theater .community-section .title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    line-height: 50px;
    font-weight: 600;
    color: #c6c6c6;
}

.theater .community-section .title span {
    display: block;
    width: 100%;
    margin-bottom: 18px;
    line-height: 1;
}

.theater .community-section .title h1 {
    margin: 0;
    line-height: 1;
}

.theater .community-section .title p {
    margin-left: 60px;
}

.theater .community-section ul {
    display: flex;
    align-items: center;
    color: #c6c6c6;
}

.theater .community-section li {
    width: 240px;
    word-break: keep-all;
}

.theater .community-section li + li {
    margin-left: 100px;
}

.theater .community-section li p {
    line-height: 30px;
    font-size: 18px;
}

.theater .community-section b {
    font-weight: 700;
}

.theater .community-section li span {
    display: block;
    margin: 34px 0 43px;
    line-height: 30px;
    font-weight: 600;
}

.theater .community-section .more {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #8370e8;
    background: url('../img/icon/icon_next_pp.png') no-repeat center / 7px;
}

/* ================= store ================= */
/* store */
#wrap-content.store h1 {
    margin: 0 auto 85px;
}

.store .store-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.store .best-wrap ul {
    margin: 85px 0 130px;
}

.store .store-list li {
    width: 295px;
}

.store .store-list li + li {
    margin-left: 25px;
}

.store .store-list .img-wrap {
    position: relative;
    height: 330px;
    border-radius: 10px;
    overflow: hidden;
    background: #161616;
    border: 2px solid transparent;
    transition: .4s ease-in;
}

.store .store-list .mark-wrap {
    display: flex;
    align-items: center;
    position: absolute;
    top: 27px;
    right: 22px;
}

.store .store-list .mark {
    padding: 0 22px;
    border-radius: 17px;
    border: 1px solid #6150c1;
    line-height: 33px;
    font-size: 14px;
    font-weight: 500;
    color: #6150c1;
}

.store .store-list .mark.best {
    border-color: #59beca;
    color: #59beca;
}

.store .store-list .mark + .mark {
    margin-left: 10px;
}

.store .store-list .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.24);
    /* transform: translate(-50%, -50%); */
    /* width: 70%; */
    margin: 0 auto;
}

.store .store-list .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.store .store-list .img-text {
    position: relative;
    margin-top: 28px;
}

.store .store-list .img-text h3 {
    font-size: 18px;
    font-weight: 700;
    color: #594ab0;
}

.store .store-list .img-text h3::before {
    content: '#';
}

.store .store-list .img-text p {
    margin: 20px 0 18px;
    font-size: 14px;
    color: #979797;
}

.store .store-list .img-text span {
    font-size: 20px;
    color: #59beca;
}

.store .store-list .img-text span::after {
    content: 'Ïõê';
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
}

/* hover */
.store .store-list li:hover .img-wrap {
    border-color: #59beca;
}

/* banner */
.store .banner {
    height: 130px;
    margin: 120px 0 130px;
}

/* recommend-wrap */
.store .recommend-wrap {
    margin: 130px 0 186px;
}

.store .recommend-wrap .tab-content {
    display: flex;
    position: relative;
    margin: 80px 0 0;
}

.store .recommend-wrap .list-tab {
    position: absolute;
    top: 0;
    left: -130px;
    text-align: right;
}

.store .recommend-wrap .list-tab li {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.store .recommend-wrap .list-tab li + li {
    margin-top: 36px;
}

.store .recommend-wrap .list-tab li.active {
    color: #fff;
}

.store .recommend-wrap .list-tab li.add {
    position: relative;
}

.store .recommend-wrap .list-tab li.add::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -15px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #59beca;
}

.store .recommend-wrap .banner-img {
    flex: 0 0 auto;
    overflow: hidden;
    width: 610px;
    margin-right: 25px;
    border-radius: 10px;
    background: #f4e7e0;
}

/* combo-wrap */
#wrap-content.store .combo-wrap h1 {
    margin: 0 0 41px;
}

.store .combo-wrap {
    display: flex;
    justify-content: space-between;
}

.store .combo-wrap .title-wrap {
    flex: 0 0 auto;
}

.store .combo-wrap .title-wrap p {
    line-height: 41px;
    font-size: 22px;
    color: #c6c6c6;
}

.store .combo-wrap .store-list {
    flex-wrap: nowrap;
    width: 930px;
    padding: 0 0 100px;
}

.store .combo-wrap .store-list li {
    /* width: 295px; */
    margin: 0;
}

.store .combo-wrap .slide-button-wrap {
    display: flex;
    align-items: center;
    margin: 66px 0 0;
}

/* snack-wrap */
.store .snack-wrap {
    margin: 175px 0 0;
    padding: 0 0 300px;
}


/* ================= movie ================= */
.movie {
    
}