@charset "utf-8";

/* ================= main ================= */
/* 공통 */
.title-box {
    position: relative;
}

#wrap-content .title-box .title {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-size: 60px;
    font-weight: 600;
}

.title-box .title::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -23px;

    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #59beca;
}

.title-box .more {
    position: absolute;
    top: 20px;
    right: 0;

    font-size: 17px;
    font-weight: 500;
}

#wrap-content.main {
    padding: 0 0 164px;
}

/* ------- slide-section ------- */
#wrap-content.main .slide-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: skyblue;
}

#wrap-content.main .slide-section .sns-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    position: absolute;
    z-index: 10;
    width: 80px;
    height: 100%;
    padding: 80px 0 55px;

    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

#wrap-content.main .slide-section .sns-wrap li {
    width: 15px;
    text-align: center;
}

#wrap-content.main .slide-section .sns-wrap li+li {
    margin-top: 50px;
}

#wrap-content.main .movie-container,
#wrap-content.main .movie-container .slider,
#wrap-content.main .movie-container .img {
    width: 100%;
    height: 100%;
}

#wrap-content.main .movie-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wrap-content.main .movie-container .slider>div {
    position: relative;
    width: 100%;
    height: 100%;
}

#wrap-content.main .movie-container .movie-info-wrap {
    position: absolute;
    bottom: 173px;
    left: 208px;
}

#wrap-content.main .movie-container .title-box {
    display: flex;
    align-items: center;
    color: #fff;
}

#wrap-content.main .movie-container .title-box .age {
    padding: 0 15px;
    line-height: 36px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #fff;
}

#wrap-content.main .movie-container .title-box h1 {
    margin: 0 26px 0 29px;
    font-size: 60px;
    color: #fff;
}

#wrap-content.main .movie-container .title-box h3 {
    font-size: 27px;
}

#wrap-content.main .movie-container .tag-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 28px 0;
}

#wrap-content.main .movie-container .tag-list li {
    min-width: 80px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

#wrap-content.main .movie-container .tag-list li::before {
    display: inline-block;
    content: '#';
}

#wrap-content.main .movie-container .tag-list li+li {
    margin-left: 10px;
}

#wrap-content.main .movie-container .summary {
    line-height: 30px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

#wrap-content.main .movie-container .link-box {
    display: flex;
    align-items: center;
    margin-top: 68px;
}

#wrap-content.main .movie-container .link-box a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

#wrap-content.main .movie-container .link-box a:first-child {
    border: 1px solid #fff;
}

#wrap-content.main .movie-container .link-box a:last-child {
    margin-left: 15px;
    background: linear-gradient(to right, rgba(68, 30, 178, 0.8), rgba(89, 190, 201, 0.8) 137%);
}

/* ------- box-office-section ------- */
#wrap-content.main .box-office-section {
    padding: 210px 0;
}

#wrap-content.main .box-office-section .title-article .inner {
    position: relative;
}

#wrap-content.main .box-office-section .time {
    font-size: 14px;
    font-weight: 500;
}

#wrap-content.main .box-office-section .title-box {
    display: flex;
    align-items: flex-end;
    margin: 28px 0;
}

#wrap-content.main .box-office-section .title-box h1 {
    margin: 0 127px 0 0;
}

#wrap-content.main .box-office-section .title-box p {
    line-height: 30px;
    font-size: 16px;
    color: #c6c6c6;
}

#wrap-content.main .box-office-section .title-box b {
    color: #ededed;
}

#wrap-content.main .box-office-section .title-box .more {
    color: #6352bf;
}

#wrap-content.main .box-office-section .movie-slide {
    height: 710px;
    margin: 52px 0 64px;
}

#wrap-content.main .box-office-section .movie-list-slide {
    position: relative;
    padding-left: 317px;
}

#wrap-content.main .box-office-section .movie-tab {
    display: flex;
    position: absolute;
    top: 0;
    left: 270px;
    writing-mode: vertical-lr;
}

#wrap-content.main .box-office-section .movie-tab li {
    opacity: .2;
    font-size: 20px;
    color: #fff;
}

#wrap-content.main .box-office-section .movie-tab li.active {
    opacity: .5;
    background: linear-gradient(to right, #441eb2, #59bec9 80%);
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
}

#wrap-content.main .box-office-section .movie-tab li + li::before {
    content: '';
    display: inline-block;
    vertical-align: baseline;
    width: 15px;
    height: 1px;
    margin: 15px 0;
    background: #fff;
}

#wrap-content.main .box-office-section .box-office-slide {
    overflow: hidden;
}

#wrap-content.main .box-office-section .movie-list li {
    padding: 0 0 60px;
}

#wrap-content.main .box-office-section .movie-list .poster {
    position: relative;
    height: 327px;
}

#wrap-content.main .box-office-section .movie-list .rank {
    opacity: .4;
    position: absolute;
    bottom: -8px;
    left: 15px;
    line-height: 1;
    font-size: 83px;
    color: #fff;
}


#wrap-content.main .box-office-section .movie-list .poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wrap-content.main .box-office-section .movie-list .hover-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .3s ease-in-out;
    z-index: -1;


    width: 100%;
    height: 100%;
    background: rgba(23, 23, 23, .7);
}

#wrap-content.main .box-office-section .movie-list .hover-box a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 167px;
    height: 40px;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 600;
    color: fff;
}

#wrap-content.main .box-office-section .movie-list .hover-box a:last-child {
    border: none;
    background: linear-gradient(to right, rgb(68, 30, 178, .3), rgba(89, 190, 201, .3) 80%);
}

#wrap-content.main .box-office-section .movie-list .hover-box a + a {
    margin-top: 20px;
}

#wrap-content.main .box-office-section .movie-list .title-box {
    margin: 14px 0 12px;
}

#wrap-content.main .box-office-section .swiper-scrollbar {
    left: 317px;
    width: 1300px;
}

#wrap-content.main .box-office-section .movie-list li:hover .hover-box {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

/* ------- curation-section ------- */
#wrap-content.main .curation-section {
    padding: 104px 0 152px;
    margin-bottom: 190px;
    background: url('../img/main/curation.png') no-repeat center / cover;
}

#wrap-content.main .curation-section article {
    display: flex;
}

#wrap-content.main .curation-section .img-wrap {
    width: 366px;
    height: 523px;
    margin-right: 60px;
}

#wrap-content.main .curation-section .big-wrap {
    display: flex;
    align-items: center;
}

#wrap-content.main .curation-section .big-wrap h2 {
    font-size: 25px;
    font-weight: 700;
}

#wrap-content.main .curation-section .big-wrap .age::before {
    display: inline-block;
    vertical-align: middle;
    min-width: 55px;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    font-weight: 400;
}

#wrap-content.main .curation-section .big-wrap .age.all::before {
    content: 'ALL';
}

#wrap-content.main .curation-section .big-wrap p {
    margin: 36px 0 38px;
    width: 436px;
    word-break: keep-all;
    line-height: 30px;
    font-weight: 500;
}

#wrap-content.main .curation-section .info-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#wrap-content.main .curation-section dl {
    display: flex;
    align-items: center;
    margin: 0 12px 17px 0;
    color: #fff;
}

#wrap-content.main .curation-section dt {
    margin-right: 5px;
    font-weight: 700;
}

#wrap-content.main .curation-section dd {
    font-weight: 500;
}

#wrap-content.main .curation-section .button-group {
    display: flex;
    align-items: center;
    margin-top: 58px;
}

#wrap-content.main .curation-section .button-group button {
    width: 200px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}

#wrap-content.main .curation-section .button-group button:last-child {
    border: none;
    background: linear-gradient(to right, #441eb2, #59bec9);
}

#wrap-content.main .curation-section .button-group button+button {
    margin-left: 12px;
}

#wrap-content.main .curation-section .small-wrap {
    margin-left: 75px;
}

#wrap-content.main .curation-section li {
    display: flex;
    padding-left: 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#wrap-content.main .curation-section li+li {
    margin-top: 9px;
}

#wrap-content.main .curation-section .img {
    width: 131px;
    height: 187px;
}

#wrap-content.main .curation-section .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wrap-content.main .curation-section li h3 {
    margin: 30px 0 0 12px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.4);
}

/* li.active */
#wrap-content.main .curation-section li.active {
    border-color: #4899a2;
}

#wrap-content.main .curation-section li.active h3 {
    color: #fff;
}

/* ------- community-section ------- */
#wrap-content.main .community-section {
    margin-bottom: 125px;
}

#wrap-content.main  .community-section .title span {
    opacity: .6;
    color: #c6c6c6;
}

/* ------- insta-section ------- */
#wrap-content.main .insta-section .title {
    margin-bottom: 30px;
}

#wrap-content.main .insta-section .title a {
    display: flex;
    align-items: center;
}

#wrap-content.main .insta-section .title .img {
    display: inline-block;
    width: 61px;
    height: 61px;
}

#wrap-content.main .insta-section .title p {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #c6c6c6;
}

#wrap-content.main .insta-section .swiper-slide {
    width: 252px;
    height: 252px;
}

/* ------- private-section ------- */
#wrap-content.main .private-section .title-box {
    margin-bottom: 60px;
}

#wrap-content.main .private-section article {
    position: relative;
}
#wrap-content.main .private-section .bg-img {
    height: 100vh;
}

#wrap-content.main .private-section .bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wrap-content.main .private-section ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1050px;
}

#wrap-content.main .private-section li {
    flex: 0 1 27%;
    opacity: .2;
    padding: 30px 0 0;
    margin-right: 95px;
    margin-bottom: 25px;
    border-top: 1px solid #d1d1d1;
    cursor: pointer;
}

#wrap-content.main .private-section li:nth-child(3n) {
    margin-right: 0;
}

#wrap-content.main .private-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}

#wrap-content.main .private-section li.active {
    opacity: 1;
    border-color: #6958c4;
    /* 441eb2 59bec9 */
}

/* event-section */
#wrap-content.main .event-section {
    margin: 185px 0;
}
#wrap-content.main .event-section .title {
    display: flex;
    margin-bottom: 30px;
}
#wrap-content.main .event-section h1 {
    margin: 0 112px 0 0;
}
#wrap-content.main .event-section .event-tab {
    display: flex;
    align-items: center;
}
#wrap-content.main .event-section .slide-article {
    padding-left: 317px;
    overflow: hidden;
}
#wrap-content.main .event-section .event-slide .slide {
    width: fit-content;
}

#wrap-content.main .event-section .text-wrap h3 {
    display: flex;
    align-items: center;
}

#wrap-content.main .event-section .text-wrap p {
    margin-right: 5px;
}


/* ================= theater ================= */
#wrap-content.theater {
    overflow: hidden;
}

#wrap-content.theater h1 {
    margin-bottom: 87px;
}

/* open-wrap */
#wrap-content.theater .open-wrap .title {
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
    color: #c6c6c6;
}

#wrap-content.theater .open-wrap .title h2 {
    margin-right: 22px;
    font-size: 30px;
    color: #6150c1;
}

#wrap-content.theater .open-tab-wrap {
    display: flex;
    align-items: center;
}

#wrap-content.theater .open-content {
    flex: 0 0 auto;
    position: relative;
    width: 645px;
    height: 310px;
}

#wrap-content.theater .open-content .img {
    width: 100%;
    height: 100%;
}

#wrap-content.theater .open-content .text-wrap {
    position: absolute;
    top: 110px;
    left: 81px;
}

#wrap-content.theater .open-content .text-wrap p {
    margin-bottom: 37px;
    font-size: 24px;
}

#wrap-content.theater .open-content .text-wrap b {
    line-height: 36px;
    font-size: 27px;
    font-weight: 700;
}

#wrap-content.theater .open-content .text-wrap span {
    font-size: 20px;
    color: #fff;
}

#wrap-content.theater .open-content a {
    position: absolute;
    bottom: 35px;
    right: 40px;

    font-size: 17px;
    font-weight: 500;
}

#wrap-content.theater .open-list {
    width: 100%;
}

#wrap-content.theater .open-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.4;
    padding: 0 30px;
    border: 1px solid transparent;
    cursor: pointer;

    transition: .4s ease;
}

#wrap-content.theater .open-list li+li {
    margin-top: 54px;
}

#wrap-content.theater .open-list li.active+li {
    margin-top: 34px;
}

#wrap-content.theater .open-list li.active {
    opacity: 1;
    padding: 20px 30px;
    margin-bottom: 34px;
    border-color: #413291;
    background: #161616;
    transform: scale(1.03) translateX(-11px);
}

#wrap-content.theater .open-list li:last-child.active {
    margin: 34px 0 0;
}

#wrap-content.theater .open-list p {
    font-size: 18px;
}

#wrap-content.theater .open-list .open {
    font-weight: 600;
    color: #4899a2;
}

#wrap-content.theater .open-list .open.new {
    color: #6554c2;
}

#wrap-content.theater .open-list .date {
    font-size: 14px;
    color: #9d9d9d;
}

/* thearter-list-wrap */
#wrap-content.theater .thearter-list-wrap {
    /* margin: 64px 0 181px; */
}

#wrap-content.theater .thearter-list-wrap .my-list {
    display: flex;
    align-items: center;
    position: relative;
    margin: 90px 0 0;
    padding-bottom: 43px;
}

#wrap-content.theater .thearter-list-wrap .my-list::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(68, 30, 178, 0.8), rgba(89, 190, 201, 0.8) 137%);
}

#wrap-content.theater .thearter-list-wrap .my-list p {
    margin-right: 40px;
}

#wrap-content.theater .thearter-list-wrap .my-list b {
    color: #f8f8f8;
}

#wrap-content.theater .thearter-list-wrap .my-list ul {
    display: flex;
    align-items: center;
}

#wrap-content.theater .thearter-list-wrap .my-list li {
    min-width: 95px;
    padding: 0 21px;
    border-radius: 18px;
    border: 1px solid #484848;
    text-align: center;
    line-height: 37px;
    font-size: 14px;
    font-weight: 600;
    color: #bbb;
    cursor: pointer;
}

#wrap-content.theater .thearter-list-wrap .my-list li.active {
    border-color: #413291;
    background: #413291;
}

#wrap-content.theater .thearter-list-wrap .my-list li+li {
    margin-left: 12px;
}

#wrap-content.theater .thearter-list-wrap .thearter-list {
    display: flex;
}

#wrap-content.theater .thearter-list-wrap .thearter-list .big-list {
    flex: 0 0 auto;
    width: 235px;
    padding: 20px 0;
    background: #161616;
}

#wrap-content.theater .thearter-list-wrap .thearter-list .big-list li {
    padding: 17px 0 17px 54px;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 500;
    color: #f8f8f8;
    cursor: pointer;
}

#wrap-content.theater .thearter-list-wrap .thearter-list .big-list li.active {
    border: 1px solid #6c59cf;
    background: #413291;
}

#wrap-content.theater .thearter-list-wrap .thearter-list .area-list-wrap {
    display: flex;
    padding: 15px 0;
}

#wrap-content.theater .thearter-list-wrap .thearter-list .area-list-wrap ul {
    height: 100%;
    padding: 0 54px;
    border-right: 1px solid #2e2e2e;
}

#wrap-content.theater .thearter-list-wrap .thearter-list .area-list-wrap li {
    padding: 17px 0;
    border: 1px solid transparent;
    font-size: 15px;
    color: #aaaaaa;
    cursor: pointer;
}

/* banner-wrap */
#wrap-content.theater .banner-wrap {
    display: flex;
    align-items: center;
    position: relative;
    height: 90px;
    margin: 64px 0 181px;
}

#wrap-content.theater .banner-wrap::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -320px;
    width: calc(100% + 640px);
    height: 100%;
    background: #161616;
}

#wrap-content.theater .banner-wrap>* {
    position: relative;
    z-index: 1;
}

#wrap-content.theater .banner-wrap h3 {
    font-size: 25px;
    color: #6c59cf;
}

#wrap-content.theater .banner-wrap h3::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 39px;
    margin: 0 50px 0 41px;
    background: rgba(255, 255, 255, 0.2);
}

#wrap-content.theater .banner-wrap p {
    opacity: 0.6;
    font-size: 18px;
    color: #fff;
}

#wrap-content.theater .banner-wrap a {
    margin-left: auto;
    font-size: 17px;
    font-weight: 500;
}

/* event-section */
#wrap-content.theater .event-section h1 {
    margin: 0 85px 0 0;
}

#wrap-content.theater .event-section .title-article {
    display: flex;
    align-items: baseline;
    margin: 0 0 72px;
}

#wrap-content.theater .event-section .title-article ul {
    display: flex;
    align-items: center;
}


/* special-section */
#wrap-content.theater .special-section .inner {
    display: flex;
}

#wrap-content.theater .special-section .title-article {
    flex: 0 0 auto;
    margin-right: 315px;
}

#wrap-content.theater .special-section h1 {
    margin-bottom: 58px;
    text-align: left;
}

#wrap-content.theater .special-section .title-article p {
    line-height: 30px;
    font-size: 16px;
    color: #c6c6c6;
}

#wrap-content.theater .special-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#wrap-content.theater .special-section li {
    position: relative;
    margin-bottom: 120px;
}

#wrap-content.theater .special-section li:nth-last-child(-n + 2) {
    margin: 0;
}

#wrap-content.theater .special-section h2 {
    position: absolute;
    top: -25px;
    transform-origin: 0;
    transform: rotate(270deg) translate(-100%, -100%);

    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 37px;
    font-weight: 600;
    color: #c6c6c6;
}

#wrap-content.theater .special-section .text-wrap {
    margin-top: 30px;
    line-height: 30px;
    font-size: 16px;
}

#wrap-content.theater .special-section .text-wrap h4 {
    font-weight: 600;
    color: #6c59cf;
}

#wrap-content.theater .special-section .text-wrap p {
    font-weight: 500;
    color: #d9d9d9;
}

#wrap-content.theater .community-section {
    margin: 80px 0 282px;
}

/* ================= store ================= */
/* store */
#wrap-content.store h1 {
    margin: 0 auto 85px;
}

#wrap-content.store .store-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#wrap-content.store .best-wrap ul {
    margin: 85px 0 130px;
}

#wrap-content.store .store-list li {
    width: 295px;
}

#wrap-content.store .store-list li+li {
    margin-left: 25px;
}

#wrap-content.store .store-list .img-wrap {
    position: relative;
    height: 330px;
    border-radius: 10px;
    overflow: hidden;
    background: #161616;
    border: 2px solid transparent;
    transition: .4s ease-in;
}

#wrap-content.store .store-list .mark-wrap {
    display: flex;
    align-items: center;
    position: absolute;
    top: 27px;
    right: 22px;
}

#wrap-content.store .store-list .mark {
    padding: 0 22px;
    border-radius: 17px;
    border: 1px solid #6150c1;
    line-height: 33px;
    font-size: 14px;
    font-weight: 500;
    color: #6150c1;
}

#wrap-content.store .store-list .mark.best {
    border-color: #59beca;
    color: #59beca;
}

#wrap-content.store .store-list .mark+.mark {
    margin-left: 10px;
}

#wrap-content.store .store-list .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.24);
    /* transform: translate(-50%, -50%); */
    /* width: 70%; */
    margin: 0 auto;
}

#wrap-content.store .store-list .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wrap-content.store .store-list .img-text {
    position: relative;
    margin-top: 28px;
}

#wrap-content.store .store-list .img-text h3 {
    font-size: 18px;
    font-weight: 700;
    color: #594ab0;
}

#wrap-content.store .store-list .img-text h3::before {
    content: '#';
}

#wrap-content.store .store-list .img-text p {
    margin: 20px 0 18px;
    font-size: 14px;
    color: #979797;
}

#wrap-content.store .store-list .img-text span {
    font-size: 20px;
    color: #59beca;
}

#wrap-content.store .store-list .img-text span::after {
    content: '원';
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
}

/* hover */
#wrap-content.store .store-list li:hover .img-wrap {
    border-color: #59beca;
}

/* banner */
#wrap-content.store .banner {
    height: 130px;
    margin: 120px 0 130px;
}

/* recommend-wrap */
#wrap-content.store .recommend-wrap {
    margin: 130px 0 186px;
}

#wrap-content.store .recommend-wrap .tab-content {
    display: flex;
    position: relative;
    margin: 80px 0 0;
}

#wrap-content.store .recommend-wrap .banner-img {
    flex: 0 0 auto;
    overflow: hidden;
    width: 610px;
    margin-right: 25px;
    border-radius: 10px;
    background: #f4e7e0;
}

/* combo-wrap */
#wrap-content#wrap-content.store .combo-wrap h1 {
    margin: 0 0 41px;
}

#wrap-content.store .combo-wrap {
    display: flex;
    justify-content: space-between;
}

#wrap-content.store .combo-wrap .title-wrap {
    flex: 0 0 auto;
}

#wrap-content.store .combo-wrap .title-wrap p {
    line-height: 41px;
    font-size: 22px;
    color: #c6c6c6;
}

#wrap-content.store .combo-wrap .store-list {
    flex-wrap: nowrap;
    width: 930px;
    padding: 0 0 100px;
}

#wrap-content.store .combo-wrap .store-list li {
    /* width: 295px; */
    margin: 0;
}

#wrap-content.store .combo-wrap .slide-button-wrap {
    display: flex;
    align-items: center;
    margin: 66px 0 0;
}

/* snack-wrap */
#wrap-content.store .snack-wrap {
    margin: 175px 0 0;
    padding: 0 0 300px;
}


/* ================= movie ================= */
#wrap-content.movie h1 {
    margin: 0;
}

#wrap-content.movie {
    padding-bottom: 80px;
}

#wrap-content.movie .slide-section {
    height: 100vh;
}

#wrap-content.movie .tab li {
    flex: 1;
}

#wrap-content.movie .movie-list-section {
    height: calc(100vh - 80px);
    margin: 130px 0;
}

#wrap-content.movie .movie-list-section .inner {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

#wrap-content.movie .result {
    width: 100%;
    margin-bottom: 35px;
    text-align: right;
}

#wrap-content.movie .small-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 320px;
    margin-right: 120px;
}

#wrap-content.movie .list-tab {
    left: -240px;
}

#wrap-content.movie .title-box {
    margin-bottom: 35px;
}

#wrap-content.movie .title-box p {
    margin-top: 40px;
    line-height: 30px;
    font-size: 16px;
}

#wrap-content.movie .tag-box {
    margin-top: 230px;
}

#wrap-content.movie .tag-box p {
    margin-bottom: 34px;
    line-height: 30px;
    font-size: 16px;
}

#wrap-content.movie .tag-list {
    display: flex;
    flex-wrap: wrap;
}

#wrap-content.movie .tag-list li {
    opacity: .3;
    transition: all .3s ease-out;
    padding: 0 18px;
    margin-right: 10px;
    margin-bottom: 14px;
    border-radius: 19px;
    border: 1px solid #c6c6c6;
    line-height: 37px;
    font-size: 14px;
    font-weight: 500;
    color: #c6c6c6;
    cursor: pointer;
}

#wrap-content.movie .tag-list li:nth-child(3n) {
    margin-right: 0;
}

#wrap-content.movie .tag-list li::before {
    content: '#';
}

#wrap-content.movie .tag-list li.active {
    border-color: #413291;
    background: #413291;
    color: #fff;
    opacity: 1;
}

#wrap-content.movie .big-box {
    position: relative;
    width: calc(100% - 440px);
    overflow: hidden;
}

#wrap-content.movie .movie-list li {
    height: 350px;
}

#wrap-content.movie .movie-list .poster {
    height: 250px;
}

#wrap-content.movie .movie-list .poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wrap-content.movie .movie-list .title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 14px 0 12px;
}

#wrap-content.movie .movie-list .title {
    margin: 0;
    font-size: 15px;
    color: #ededed;
}

#wrap-content.movie .movie-list .title::after {
    display: none;
}

#wrap-content.movie .movie-list .like-button {
    width: 18px;
    height: 18px;
    background: url('../img/icon/icon_heart.png') no-repeat center / 12px;
}

#wrap-content.movie .movie-list p {
    font-size: 12px;
    font-weight: 500;
    color: #c6c6c6;
}

#wrap-content.movie .banner {
    margin: 135px 0;
}

#wrap-content.movie .banner article {
    height: 150px;
}



/* ================= event ================= */
/* tab-section */
#wrap-content.event .tab-section {
    margin-bottom: 120px;
}

#wrap-content.event .tab {
    margin: 30px 0 55px;
}

#wrap-content.event .tab li {
    width: 50%;
}

#wrap-content.event .event-tag {
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrap-content.event .event-tag li {
    transition: all .3s ease-in-out;
    opacity: 0.3;
    min-width: 108px;
    border-radius: 21px;
    border: 1px solid #c6c6c6;
    line-height: 42px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #c6c6c6;
    cursor: pointer;
}

#wrap-content.event .event-tag li + li {
    margin-left: 13px;
}

#wrap-content.event .event-tag li::before {
    content: '#';
}

#wrap-content.event .event-tag li.active {
    opacity: 1;
    border: none;
    background: #413291;
}

/* recommend-section */
#wrap-content.event .recommend-section h1 {
    margin: 0 0 72px;
}

#wrap-content.event .recommend-section article {
    display: flex;
    height: 534px;
    padding-left: 290px;
}

#wrap-content.event .recommend-section .big-img {
    flex: 0 0 auto;
    width: 338px;
    height: 100%;
    margin-right: 50px;
}

#wrap-content.event .recommend-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#wrap-content.event .recommend-section .recommend-slide-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#wrap-content.event .recommend-section .swiper-slide {
    width: 290px;
    transition: opacity .3s ease-in-out;
}

#wrap-content.event .recommend-section .swiper-slide.off {
    opacity: .2;
}

#wrap-content.event .recommend-section .event-img {
    height: 361px;
}

#wrap-content.event .recommend-section .swiper-slide p {
    margin: 40px 0 20px;
    color: #ededed;
}

#wrap-content.event .recommend-section .swiper-slide p > span {
    font-size: 16px;
    font-weight: 700;
    color: #6c59cf;
}

#wrap-content.event .recommend-section .swiper-slide span {
    font-size: 14px;
    color: #9d9d9d;
}

#wrap-content.event .swiper-scrollbar {
    width: 905px;
}

/* card-section */
#wrap-content.event .card-section {
    margin: 150px 0 0;
}

#wrap-content.event .title-box {
    margin: 0 0 60px;
}

#wrap-content.event .title-box h2 {
    font-size: 30px;
    color: #fff;
}

#wrap-content.event .title-box b {
    color: #6150c1;
}

#wrap-content.event .title-box p {
    margin: 32px 0 0;
    font-weight: 500;
    color: #a3a3a3;
}

#wrap-content.event .title-box span {
    font-weight: 600;
    color: #ccc;
}

#wrap-content.event legend {
    display: none;
}

#wrap-content.event fieldset > ul {
    display: flex;
    align-items: center;
}

#wrap-content.event .input-wrap {
    display: flex;
    align-items: center;
    width: 400px;
    padding: 0 0 15px;
    border-bottom: 1px solid #a3a3a3;
}

#wrap-content.event .input-wrap label {
    flex: 0 0 auto;
    width: 26px;
    height: 20px;
    margin-right: 20px;
    background: url('../img/icon/icon_search.png') no-repeat center / 18px;
}

#wrap-content.event .input-wrap input {
    width: 100%;
    background-color: transparent;
    color: #bbb;
}

#wrap-content.event fieldset > ul li:first-child {
    margin-right: auto ;
} 

/* search-content */
#wrap-content.event {
    padding-bottom: 250px;
}

#wrap-content.event .card-section .inner {
    position: relative;
}

#wrap-content.event .card-section .list-tab {
    top: 150px;
}

#wrap-content.event .search-content {
    margin: 72px 0 0;
}

#wrap-content.event .card-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#wrap-content.event .card-list > li {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    height: 243px;
    margin-bottom: 69px;
}

#wrap-content.event .card-list .card-img {
    width: 290px;
    height: 182px;
    margin: 0 34px 0 20px;
}

#wrap-content.event .card-list h3 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #d6d6d6;
}

#wrap-content.event .card-list dl {
    display: flex;
    align-items: center;
    line-height: 25px;
    font-size: 14px;
}

#wrap-content.event .card-list dt {
    font-weight: 600;
    color: #d6d6d6;
}

#wrap-content.event .card-list dt::after {
    content: ':';
    margin: 0 3px;
}

#wrap-content.event .card-list dd {
    color: #a3a3a3;
}

#wrap-content.event .card-list p {
    line-height: 25px;
    font-size: 14px;
    color: #a3a3a3;
}

#wrap-content.event .tag-list {
    display: flex;
    align-items: center;
    margin: 16px 0 0;
}

#wrap-content.event .tag-list li {
    width: fit-content;
    min-width: 92px;
    padding: 0 20px;
    border-radius: 16px;
    border: 1px solid #6150c1;
    color: #6150c1;
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
}

#wrap-content.event .tag-list li + li {
    margin-left: 15px;
}

#wrap-content.event .tag-list li:nth-child(2) {
    border: 1px solid #59beca;
    color: #59beca;
}

#wrap-content.event .hover-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .4s;
    opacity: 0;
    visibility: hidden;
    z-index: -1;


    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #6c59cf;
    background: rgba(0, 0, 0, 0.7);
}

#wrap-content.event .hover-wrap > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 48px;
    background: linear-gradient(to right, #441eb2 56%, #59bec9 137%);
    font-size: 17px;
    font-weight: 600;
}

#wrap-content.event .card-list > li:hover .hover-wrap {
    opacity: 1;
    z-index: 1;
    visibility: visible;
}


/* ================= ticketing ================= */
#wrap-content.ticketing {
    padding-bottom: 500px;
}
#wrap-content.ticketing .inner {
    display: flex;
}

#wrap-content.ticketing .big-section {
    position: sticky;
    top: 0;
    width: 700px;
    height: fit-content;
}

#wrap-content.ticketing .title-wrap {
    display: flex;
    align-items: baseline;
    margin-bottom: 60px;
}

#wrap-content.ticketing .title-wrap .title {
    margin-right: 40px;
}

#wrap-content.ticketing .title-box .title::after{
    display: none;
}

#wrap-content.ticketing .title-wrap span {
    opacity: .3;
    margin-left: 30px;
    font-size: 16px;
    color: #c6c6c6;
}

#wrap-content.ticketing .title-wrap ul {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#wrap-content.ticketing .title-wrap li {
    position: relative;
}

#wrap-content.ticketing .title-wrap li + li {
    margin-left: 50px;
}

#wrap-content.ticketing .title-wrap li.add::after {
    right: -18px;
}

#wrap-content.ticketing .box-office-slide {
    overflow: hidden;
}

#wrap-content.ticketing .box-office-slide .title-box {
    margin: 20px 0 30px;
}

#wrap-content.ticketing .box-office-slide .title-box .title {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

#wrap-content.ticketing .box-office-slide .poster {
    transition: .3s ease;
    border: 3px solid transparent;
}

#wrap-content.ticketing .box-office-slide li.on .poster {
    border-color: #55b5c0;
}

/* result-section */
#wrap-content.ticketing .result-section {
    width: 490px;
    margin-left: auto;
}

#wrap-content.ticketing .result-section article {
    overflow: hidden;
    border-radius: 8px 8px 5px 5px;
    background: #161616;
}

#wrap-content.ticketing .result-section article + article {
    transform: translateY(-5px);
}

#wrap-content.ticketing .result-section .title-box {
    display: flex;
    align-items: center;
    position: relative;
    height: 68px;
    padding: 0 38px;
    border: rgb(65, 50, 145);
    /* border: 1px solid rgba(65, 50, 145, .3); */
    background: linear-gradient(to right, rgba(68, 30, 178, .5), rgba(89, 190, 201, .5) 137%);
}

#wrap-content.ticketing .result-section .title-box p {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #e3e3e3;
}
#wrap-content.ticketing .result-section .title-box span {
    mix-blend-mode: hard-light;
}

#wrap-content.ticketing .result-section .title-box::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    transition: all .3s;
    width: 13px;
    height: 8px;
    background: url('../img/icon/icon_next_wh.png') no-repeat center / cover;
}

#wrap-content.ticketing .result-section .title-box.active::after {
    transform: translateY(-50%) rotate(180deg);
}

#wrap-content.ticketing .result-section .result-content {
    padding: 36px 36px 45px;
}

#wrap-content.ticketing .result-section .info {
    margin-top: 20px;
    color: #bbb;
}

#wrap-content.ticketing .result-section .info span {
    color: #6f5bde;
}

#wrap-content.ticketing .result-section .info::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 16px;
    border-radius: 50%;
    background: #413291;
}

#wrap-content.ticketing .result-section .movie-result {
    display: flex;
    align-items: center;
}

#wrap-content.ticketing .result-section .movie-result li {
    overflow: hidden;
    width: 128px;
    height: 186px;
    border-radius: 2px;
    opacity: .6;
}

#wrap-content.ticketing .result-section .movie-result li + li {
    margin-left: 15px;
}

#wrap-content.ticketing .result-section .movie-result li.on {
    opacity: 1;
}

#wrap-content.ticketing .result-section .movie-result img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wrap-content.ticketing .result-section .schedule-list {
    display: flex;
    align-items: center;
}
#wrap-content.ticketing .result-section .schedule-list li {
    color: #686868;
}

/* theater-list */
#wrap-content.ticketing .result-section .theater-list li {
    display: flex;
    align-items: center;
    height: 57px;
    padding: 0 33px;
    border-radius: 2px;
    background: #378791;
    font-size: 15px;
    font-weight: 500;
    color: #d7dfe0;
}

#wrap-content.ticketing .result-section .theater-list li + li {
    margin-top: 12px;
}

#wrap-content.ticketing .result-section .theater-list .delete-button {
    width: 15px;
    height: 15px;
    margin-left: auto;
    background: url('../img/icon/icon_close.png') no-repeat center / 10px;
}

#wrap-content.ticketing .result-section li.empty {
    opacity: .6;
    background: transparent url('../img/icon/icon_plus.png') no-repeat center / 10px;
    border: 1px solid #3d3b47;
}

#wrap-content.ticketing .result-section .movie-info {
    display: flex;
    align-items: center;
}

#wrap-content.ticketing .result-section .movie-info .poster {
    width: 150px;
    height: 205px;
    margin-right: 29px;
    border: 1px solid #413291;
}

#wrap-content.ticketing .result-section .movie-info .title {
    font-size: 21px;
    font-weight: 600;
    color: #fff;
}

#wrap-content.ticketing .result-section .movie-info p {
    opacity: .7;
    margin: 23px 0 14px;
    color: #bbb;
}

#wrap-content.ticketing .result-section .movie-info h5 {
    opacity: .7;
    color: #fff;
}

#wrap-content.ticketing .result-section .seat-select {
    margin: 25px 0 0;
    text-align: center;
}

#wrap-content.ticketing .result-section .seat-select p {
    opacity: .3;
    color: #c6c6c6;
}

#wrap-content.ticketing .result-section .seat-select .seat-img {
    margin: 20px 0 25px;
}

#wrap-content.ticketing .result-section .seat-select h3 span {
    color: #725aea;
}

#wrap-content.ticketing .result-section .done-button {
    width: 100%;
    height: 75px;
    margin-top: 40px;
    border-radius: 2px;
    border: 1px solid rgba(108, 89, 207, .8);
    background: linear-gradient(to left, rgba(68, 30, 178, .5), rgba(89, 190, 201, .5) 265%);
    font-size: 23px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}