$main-color: #413291;
$blue-green: #59beca;
$gray: #dfdfdf;

.main h3 {
    color: $main-color;
}

// header
#header { 
    height: 8rem;
    border-bottom: 1px solid $main-color;

    .h_inner {
        display: flex;
        align-items: center;
        min-width: 188rem;
        width: 100%;
        height: 100%;
    }

    .btn_menu {
        width: 8rem;
        height: 8rem;
        margin-right: 4rem;
        background: $main-color;
        
        span {
            display: block;
            width: 4rem;
            height: 0.2rem;
            background: $blue-green;
        }
    }

    .gnb {
        display: flex;
        align-items: center;
    
        li {
            margin-right: 65px;
            font-size: 2rem;
            color: $gray;

            :last-child {
                margin: 0;
            }
        }
        li.active{
            color: $blue-green;
        }
    }
}